nav {
    width: 80%;
}
nav ul li {
    display: inline-block;
    padding: 10px;

}
nav ul {
    border: 1px solid black;
}

main section {
    border: 1px solid black;
}

.social_media_icons ul{
    list-style-type: none;
}
.social_media_icons ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
